:root {
	--red: #c73b0f;
	--red-hover: #952c0b;
	--rose-900: #260f08;
	--rose-500: #87635a;
	--rose-400: #ad8a85;
	--rose-300: #caafa7;
	--rose-100: #f5eeec;
	--rose-50: #fcf8f6;
	--green: #1ea575;
	--black: #000000;
	--white: #ffffff;
	--spacing-1100: 88px;
	--spacing-500: 40px;
	--spacing-400: 32px;
	--spacing-300: 24px;
	--spacing-200: 16px;
	--spacing-150: 12px;
	--spacing-100: 8px;
	--spacing-50: 4px;
}
* {
	font-family: "Red Hat Text", sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.hidden {
	display: none !important;
}

body {
	background-color: var(--rose-50);
	width: 100vw;
}

.overlay-container {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow-y: scroll;
}
.order-confirmation-container {
	background-color: var(--white);
	padding: 40px;
	text-align: left;
	border-radius: 12px;
}
.overlay-title {
	margin-top: 19px;
}
.overlay-text {
	font-size: 16px;
	color: var(--rose-500);
	font-weight: 400;
	margin-top: 8px;
}
.overlay-button {
	width: 100%;
	text-align: center;
	padding: 16px;
	border-radius: 32px;
	border: 0;
	background-color: var(--red);
	color: var(--white);
	margin-top: 32px;
}

.overlay-button:hover {
	cursor: pointer;
	background-color: var(--red-hover);
}

.order-list {
	margin-top: 32px;
	background-color: var(--rose-50);
	border-radius: 8px;
	padding: 24px;
}
.order-thumb {
	width: 48px;
	height: 48px;
	margin-right: 16px;
}
.order-item {
	border-bottom: 1px solid var(--rose-100);
	justify-content: space-between;
	padding-bottom: 16px;
	margin-bottom: 16px;
}
.order-item-quantity {
	color: var(--red);
}
.order-item-unit-price {
	color: var(--rose-500);
}
.order-item-price {
	color: var(--rose-900);
}
.order-item-stock {
	gap: 8px;
}
.order-total {
	justify-content: space-between;
	color: var(--rose-900);
}
.main-container {
	margin-left: 112px;
	margin-right: 112px;
	margin-top: var(--spacing-1100);
}
.product-image {
	border-radius: 8px;
	width: 100%;
	max-width: 250px;
}
.preset-1 {
	font-size: 56px;
	line-height: 120%;
	font-weight: 700;
	letter-spacing: 0;
}
.preset-2 {
	font-size: 24px;
	line-height: 125%;
	font-weight: 700;
	letter-spacing: 0;
}
.preset-3 {
	font-size: 16px;
	line-height: 150%;
	font-weight: 600;
	letter-spacing: 0;
}
.preset-4 {
	font-size: 14px;
	line-height: 150%;
	font-weight: 400;
	letter-spacing: 0;
}
.preset-4-bold {
	font-size: 14px;
	line-height: 150%;
	font-weight: 600;
	letter-spacing: 0;
}

.flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.flex-col {
	display: flex;
	flex-direction: column;
}
.main {
	gap: 32px;
}
/* .product-list-container {
	margin-right: 32px;
} */
.product-list {
	margin: 32px 0 32px 0;
	width: 100%;
	max-width: 800px;
	gap: 24px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.product-card {
	gap: 16px;
}
.product-card > * {
	width: 100%;
}
.add-to-cart-button {
	height: 44px;
	width: 160px;
	border-radius: 32px;
	margin: 0 auto;
	position: relative;
	margin-top: -22px;
	background-color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	border: 1px solid var(--rose-400);
	transition: all 0.3s ease-in-out;
}
.add-to-cart-button:hover {
	cursor: pointer;
	color: var(--red);
	border-color: var(--red);
}

.product-category {
	color: var(--rose-500);
}
.cart-title {
	color: var(--red);
}
.cart {
	width: 384px;
	height: fit-content;
	background-color: var(--white);
	padding: 24px;
	border-radius: 12px;
}
.confirm-order-button {
	background-color: var(--red);
	border: 0;
	border-radius: 32px;
	width: 100%;
	padding: 16px 0;
	text-align: center;
	color: var(--white);
	transition: all 0.3s ease-in-out;
}
.confirm-order-button:hover {
	cursor: pointer;
	background-color: var(--red-hover);
}
#products-in-cart {
	margin-top: 8px;
	text-align: center;
	margin-bottom: 24px;
}
.cart-item-info {
	gap: 8px;
	align-items: center;
}
.cart-item {
	text-align: left;
	gap: 8px;
}
.remove-cart-item {
	border: 1px solid var(--rose-400);
	background: transparent;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	transition: all 0.3s ease-in-out;
}

.remove-cart-item:hover {
	border: 1px solid var(--rose-900);
	cursor: pointer;
}
.remove-cart-item > svg path {
	transition: all 0.3s ease-in-out;
}
.remove-cart-item:hover > svg path {
	fill: var(--rose-900) !important;
}

.cart-item-container {
	justify-content: space-between;
	padding-top: 16px;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--rose-100);
}
.cart-item-name {
	color: var(--rose-900);
}
.cart-item-quantity {
	color: var(--red);
}
.cart-item-unit-price,
.cart-item-price {
	color: var(--rose-500);
}
.order-total-container {
	justify-content: space-between;
}
.carbon-neutral-container {
	margin: 24px 0;
	width: 100%;
	text-align: center;
	padding-top: 16px;
	padding-bottom: 16px;
	background-color: var(--rose-50);
	color: var(--rose-900);
}
.carbon-neutral-container > .flex {
	align-items: center;
	justify-content: center;
	gap: 8px;
}
.carbon-neutral-icon {
	width: 20px;
	height: 20px;
}
.border-red {
	border: 2px solid var(--red);
}
.add-subtract-item {
	height: 44px;
	width: 160px;
	border-radius: 32px;
	margin: 0 auto;
	position: relative;
	margin-top: -22px;
	background-color: var(--white);
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid var(--rose-400);
	padding: 0 16px;
	background-color: var(--red);
	color: var(--white);
}
.add-subtract-item svg {
	width: 20px;
	height: 20px;
	padding: 3.75px;
	border-radius: 50%;
	border: 1px solid var(--white);
	transition: all 0.3s ease-in-out;
}
.add-subtract-item svg:hover > path {
	fill: var(--red) !important;
}

.add-subtract-item svg:hover {
	background-color: var(--white);
	cursor: pointer;
}

.noscroll {
	overflow: hidden;
}

@media (width <= 768px) {
	.main-container {
		margin: 40px;
	}
	.main {
		flex-direction: column;
		margin-bottom: 40px;
	}
	.cart {
		width: 100%;
	}
	.product-list {
		gap: 24px;
		width: 100%;
	}
	.order-confirmation-container {
		background-color: var(--white);
		padding: 40px;
		text-align: left;
		width: 100%;
		margin: auto 40px;
	}
}
@media (width <= 375px) {
	.main-container {
		margin: 24px;
	}
	.main {
		flex-direction: column;
		margin-bottom: 24px;
	}
	.cart {
		width: 100%;
	}
	.product-list {
		margin: 32px 0 32px 0;
		width: 100%;
		max-width: 800px;
		gap: 24px;
		display: flex;
		flex-direction: column;
	}
	.product-card {
		align-items: center;
	}
	.product-image {
		max-width: none;
	}
	.order-confirmation-container {
		background-color: var(--white);
		padding: 40px;
		text-align: left;
		width: 100%;
		border-radius: 8px 8px 0 0;
		margin: 0;
		margin-top: auto;
	}
	.overlay-container {
		position: fixed;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 10;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: end;
	}
}

footer {
	width: 100%;
	border-top: 1px solid var(--rose-100);
	padding-top: 24px;
	padding-bottom: 24px;
}
footer a {
	color: var(--red);
	font-weight: 600;
}

footer a:hover {
	color: var(--red-hover);
}
